<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ajouter un item</title>
    </head>
    <body>
        <h1>Ajouter un {{ cat.name }}</h1>
        <p>Entrez le nom du {{ cat.name }} à ajouter.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            {{ error }}
            <input type="submit" value="Ajouter"/>
        </form>
    </body>
</html>