<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Retourner item</title>
    </head>
    <body>
        <h1>Retourner le {{ cat }}, {{ item.name }}</h1>
        <p>Souhaitez vous enregistrer le retour du {{ cat }}, {{ item.name }}
        par le membre {{ name }}</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Retourner"/>
            <a href="{%  url 'item_lists' cat=cat %}">
                <input type="button" value="Annuler"/>
            </a>
        </form>
    </body>
</html>