<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Liste des catégories</title>
    </head>
    <body>
        <h1>Liste des catégories</h1>
        <p><a href="{% url 'home' %}">
            <input type="button" value="Retour à l'accueil"/>
        </a></p>
        <p>Choisissez la catégorie pour voir la liste des objets disponibles.</p>
        <ul>
            {% for cat in cats %}
                <li><a href="{% url 'lists_viewer' cat=cat %}">
                    <input type="button" value="{{ cat }}"/>
                </a></li>
            {% endfor %}
        </ul>
    </body>
</html>